.in-decline .centrality-checker .is-centrality-decline {
  color: #cb3837;
}

.in-decline .centrality-checker ._000ae427 {
  border-bottom: 2px solid rgba(203, 56, 55, 0.2);
}

.centrality-chart {
  min-height: 40px;
  margin-right: -10px;
}

